html
	head
		title Express JS
	body
		h3 Programación Estructurada
		form(action="/pagina" method="POST")
			div(class="form-group")
				label(for="num") Opción*
				input(type="number", name="opcion", placeholder="Ingrese la opción...", id="opcion", class="form-control")
			br
			div
				input(type="submit", value="Enviar", class="btn btn-success")